body {
    background-color: rgba(0, 105, 217, 0.8);
}

.img-thumbnail {
    padding: 1.25rem;
    background-color: #fff;
    border: none;
    margin: 2px;
    max-width: 100%;
    height: auto;
}

.titulo {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 0.2;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.imagenOferta {
    padding-top: 25%;
}

.registro {
    color: #fff;
    background-color: #007bff;
    border-radius: 20px;
}

.login,
.recordar {
    padding-top: 50px;
}

.modalp {
    padding: 10px;
}